#sidebar{
	width: 23%;
	//height: 600px;
	border-right-style: solid;
	border-right-width: 2px;
	//border-bottom-style: solid;
	//border-bottom-width: 2px;
	float: left;
}

#comp-palette{
	//width: 250px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5px;
	border-style: solid;
	border-width: 2px;
	float: left;
	overflow: auto;
}

.component{
	width: 80px;
	height: 80px;
	overflow: visible;
	border-style: solid;
	border-width: 2px;
}

.comp-inside-palette {
	float: left;
	margin: 20px 20px 20px 20px;
}

.comp-outside-palette {
	position: absolute;
}

.comp-label {
	font-size: 15px;
	margin-top: 30px;
	position: absolute;
	z-index: -1;
	width: 80px;
	border-style: none;
	text-align: center;
}

#main-area {
	//width: 1000px;
	width: 76%;
	height: 600px;
	display: inline-block;
	float: left;
	border-right-style: solid;
	border-right-width: 2px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.sidebar-button{
	width: 210px;
	height: 30px;
	border-style: solid;
	border-width: 2px;
	float: left;
	margin-left: 30px;
	margin-top: 50px;
	//z-index: 1
}

.sidebar-label{
	//margin-left: 60px;
	width: 100%;
	text-align: center;
	margin-top: 5px;
	//position: absolute;
	//z-index: -1;
}

#info-bar{
	float:right; 
	font-size: 12px; 
	margin-top: 530px;
	margin-right: 2px;
	background-color: #FFFF99;
}

a{
	margin-top: 50px;
	margin-right: 10px;
	float: right;
	font-size: 12px;
}
